# ────────────────────────────────────────────────────
# NeuroGuard Backend — Variables de entorno
# Copia este archivo como .env y rellena los valores
# NUNCA subas .env a git (está en .gitignore)
# ────────────────────────────────────────────────────

# MQTT — HiveMQ Cloud
MQTT_HOST=b63334e69deb428284644bb4228f807c.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=Iot2026
MQTT_PASSWORD=Qwert1234
MQTT_CLIENT_ID=neuroguard-backend-01

# Submuestre de historial (1 de cada N lecturas se persiste)
HISTORY_SUBSAMPLE=5
